<div class="card m2" id="comments-new">
    <div class="card-body">
        <!--댓글 작성폼-->
        <form>
            <!--닉네임 입력-->
  <div class="mb-3">
    <label  class="form-label">닉네임</label>
    <input  class="form-control" id="new-comment-nickname">
  </div>
            <!--댓글 내용 입력-->
            <div class="mb-3">
                <label  class="form-label">내용</label>
                <textarea  class="form-control" id="new-comment-body">
                </textarea>
            </div>
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <button type="button" class="btn btn-outline-primary"
                    id="comment-create-btn">댓글 작성</button>

</form>
    </div>

</div>

<script>
    {
    //댓글 생성 버튼 변수와(id 가 comment-create-btn 인 대상)
    const commentCreateBtn = document.querySelector("#comment-create-btn");
    //버튼 클릭 이벤트를 감지!
    commentCreateBtn.addEventListener("click",function() {

    //새 댓글 객체 생성
    const comment = {
    nickname:document.querySelector("#new-comment-nickname").value,
    body:document.querySelector("#new-comment-body").value,
    article_id:document.querySelector("#new-comment-article-id").value
    };

    //댓글 객체 출력
    console.log(comment);

    //fetch() - talend api 요청을 자바스크립트로 보내준다.
    const url ="/api/articles/"+comment.article_id+ "/comments";
    fetch(url,{
    method: "post" ,// post 요청
    body: JSON.stringify(comment), //comment js 객체를 제이슨으로 변경하여 보냄.
    headers:{
    "content-type" :"application/json"
    }
    }).then(response => {
    //http 응답 코드에 따른 메시지 출력
    const msg = (response.ok) ? "댓글이 등록되었습니다."
    : "댓글 등록 실패..!";
    alert(msg); //alert 라는 자바 스크립트
    //함수를 통해 출력해주겠다.

    //현재 페이지 새로 고침
    window.location.reload();


    });



    });
    }

</script>