{{>layouts/header}}

<form class="container" action="/articles/create" method="post">
<div>
    <label class="form-label">제목</label>
    <input type="text" class="form-control" name="title">
</div>
    <div>
        <label>내용</label>
        <textarea class="form-control" name="content"></textarea>
    </div>
    <div class="mt-5 ">
        <button type="submit" class="btn float-right btn-primary">제출</button>

        <button type="button" class="btn btn-outline-danger"><a href="/articles">뒤로가기</a></button>
    </div>



</form>

<!-- 이 페이지를 보기위해서는 컨트롤러를 만들어줘야함-->

{{>layouts/footer}}

